.container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subTitle {
  font-weight: 600;
  font-size: 16px;
}

.filterButtonWrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;
}

.filterButton {
  border: solid #d9d9d9 1px;
  display: flex;
  width: fit-content;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 100px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: white;
}

.filterButton:hover {
  background-color: #f4f4f4;
}

.filterButton.active {
  background-color: #773ff9;
  color: white;
}

@media (min-width: 640px) {
  .responsive-div {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 768px) {
  .responsive-div {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .responsive-div {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
