.container {
  background: white;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #f3f4f6;
  overflow: hidden;
}

.header {
  padding: 24px;
  border-bottom: 1px solid #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.link {
  width: auto;
}

.newProductBtn {
  background: #773ff9;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  text-align: center;
  transition: background 0.3s;
}

.newProductBtn:hover {
  background: #5a2cbb;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  margin: 16px;
  padding: 1.5rem 1.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow-x: auto;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .cardContent {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.image {
  width: 100%;
  max-height: 160px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productName {
  font-weight: 700;
}

.description {
  color: #374151;
}

.price {
  color: #773ff9;
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.editBtn {
  border: 1px solid #773ff9;
  color: #773ff9;
  background: transparent;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.editBtn:hover {
  background: #773ff9;
  color: white;
}

.deleteBtn {
  border: 1px solid black;
  background: #ff0909;
  color: white;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.deleteBtn:hover {
  background: #e70b0b;
}

.popUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  border: solid grey 1px;
  border-radius: 1rem;
  width: 50%;
  height: 50%;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popUpTitle {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.popUpInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popUpInput {
  border: solid black 1px;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
